{% extends 'base.html' %}

{% block content %}
  <h2>George School,New Delhi</h2>
  <h4>Founder: George Matthewes</h4>
  <p>
   George School is located in New Delhi.The school was established on 3 July 2001.The school began with 250 students.The current principal is George Matthewesh with Saumya Bajpai as the vice principal.It has about 1000 students and more than 80 teachers. Since 2001 it has come a long way and established itself as one of the leading schools in Delhi.
  </p>
{% endblock %}
