.btn-student {
  color: #fff;
  background-color: #9999ff;
  border-color: #9999ff;
}

.btn-student:hover,
.btn-student:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-teacher {
  color: #fff;
  background-color: #ff6666;
  border-color: #ff6666;
}

.btn-teacher:hover,
.btn-teacher:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}

.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}